body {
  margin: 0;
  background: #2C2B3D;
  min-height: 100vh;
}

.page {
  width: 1280px;
margin: 72px 99px 0;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family:"JetBrains Mono", monospace;
  width: 1083px;
  height: 30px;
  margin-bottom: 101px;
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;
  font-size: 14px;
  line-height: 28px;
}

ul li a{
  text-decoration: none;
  color: #ffffff;
  
}

ul li a:hover {
  font-weight: bold;
  
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 1092px;
  height: 283px;
  

}
  

h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  width: 609px;
  height: 40px;
  margin-bottom: 59px;
  font-family:"JetBrains Mono", monospace;
  
}

h1 span {
  color: #00BFA6;
}

p {
font-family: "Open Sans", sans-serif;
font-size: 16px;
color: #c2c2c2;
width: 604px;
height: 168px;
}

p span {
  color: #00bfa6;
}

p strong {
  color: #7d7987;
}


footer {
font-family:"JetBrains Mono", monospace;
text-align: center;
font-size: 14px;
color: #ffffff;
}

footer #line {
  width: 568px;
  border: 1px solid #00BFA6;
  margin: 157px auto 27px;
}

footer a {
  color: #ffffff;
}

.decoration {
position: absolute;
bottom: -70px;
left: 30px;
width: 51px;
height: 61px;

}